<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Movie Recommendation</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f5b2466bb2.js" crossorigin="anonymous"></script>


    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
</head>

<body class="text-center" style="background:Black; color:white">
 <header>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>Movie Recommender</strong>
          </a>
        </div>
      </div>
 </header>
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

    <main role="main" class="inner cover">
        <h1 class="cover-heading">Recommendations</h1>

        <div class="container">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10" style="float:left">
                     <img src="https://m.media-amazon.com/images/M/MV5BMDdmZGU3NDQtY2E5My00ZTliLWIzOTUtMTY4ZGI1YjdiNjk3XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_SY1000_CR0,0,671,1000_AL_.jpg"
                             style="width: 300px; height:400px">
                    <br>
                    <p>You previously selected: {{ selection_title }}</p>

                </div>
                <div class="col-1">
                </div>
            </div>

            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10">
                    <h2>Similar Movies</h2>
                </div>
                <div class="col-1">
                </div>
            </div>
            <!-- Algorithm 1 results -->
            <div class="row border border-white" style="padding-top: 5px; padding-bottom: 5px">
                <div class="col-1">
                    LIST 1
                </div>
            {% if alg1 %}
                {% for movie in alg1.values %}
                <div class="col-2">
                <img src="https://m.media-amazon.com/images/M/MV5BMDdmZGU3NDQtY2E5My00ZTliLWIzOTUtMTY4ZGI1YjdiNjk3XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_SY1000_CR0,0,671,1000_AL_.jpg"
                             style="width: 150px; height:200px">
                    {{ movie }}
                </div>
                {% endfor %}
            {% endif %}
                <div class="col-1">
                </div>
            </div>
        <br>
            <!-- Algorithm 2 results -->
            <div class="row border border-white" style="padding-top: 5px; padding-bottom: 5px">
                <div class="col-1">
                    LIST 2
                </div>
            {% if alg2 %}
                 {% for movie in alg2.values %}
                <div class="col-2">
                <img src="https://m.media-amazon.com/images/M/MV5BYWZjMjk3ZTItODQ2ZC00NTY5LWE0ZDYtZTI3MjcwN2Q5NTVkXkEyXkFqcGdeQXVyODk4OTc3MTY@._V1_SY1000_CR0,0,674,1000_AL_.jpg"
                             style="width: 150px; height:200px">
                    {{ movie }}
                </div>
                {% endfor %}
            {% endif %}
                <div class="col-1">
                </div>
            </div>
        <br>
            <!-- Algorithm 3 results -->
            <div class="row border border-white" style="padding-top: 5px; padding-bottom: 5px">
                <div class="col-1">
                    LIST 3
                </div>
                 {% for title, url in alg3.items %}
                <div class="col-2">
                <img src= {{ url }}
                             style="width: 150px; height:200px">
                    {{ title }}
                </div>
                {% endfor %}
                <div class="col-1">
                </div>
            </div>
        <br>
            <!-- Algorithm 4 results -->
            <div class="row border border-white" style="padding-top: 5px; padding-bottom: 5px">
                <div class="col-1">
                    LIST 4
                </div>
                 {% for title, url in alg4.items %}
                <div class="col-2">
                <img src= {{ url }}
                             style="width: 150px; height:200px">
                    {{ title }}
                </div>
                {% endfor %}
                <div class="col-1">
                </div>
            </div>
        <br>
            <!-- Algorithm 5 results -->
            <div class="row border border-white" style="padding-top: 5px; padding-bottom: 5px">
            <div class="col-1">
                    LIST 5
                </div>
                 {% for title, url in alg5.items %}
                <div class="col-2">
                <img src= {{ url }}
                             style="width: 150px; height:200px">
                    {{ title }}
                </div>
                {% endfor %}

                </div>
                <div class="col-1">
                </div>
            </div>


    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p style="opacity: 0.4">Created by Bauer, Jesse, Manzoor and Platter</p>
        </div>
    </footer>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
</body>
</html>
